/*Задала ширину блока, сделала пунктирную
границу блока черного цвета толщиной 2 пикселя,
задала внутренний отступ*/
div {
	width: 420px;
	border: 2px dashed black;
	padding: 3px;
}

/*Сделала курсивными элементы нижнего
и верхнего регистра*/
sub, sup {
	font-style: italic;
}

/*Задала внешние отступы параграфа*/
p {
	margin: 3px 0 15px;
}